*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
height:100%;
}
.One{
font-size: xx-large;
font-style: oblique;
background-color: black;
height: 8vh;
width: auto;
border-bottom: 1px solid rgb(54, 50, 50);

}
.one_in{
height:5vh;
background-color: black;
font-size:small;
display: flex;
flex-direction: row;
align-items:center;
gap: 20px;
justify-content:center;
border-bottom:1px solid rgb(54, 50, 50);
margin-bottom: 0%;
}
.one_in a{
    color:white;
    text-decoration:wavy;
    font-weight: bolder ;
   
}
.one_two{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1{
color: white;
font-size: small;
font-style: initial;
}
a:hover {
    border-bottom: 2px solid red;
}
